* {
	margin-left: 20px
}

h2 {
	background-color: #000;
	color: #fff;
	text-align: center;
}

body {
	background-color: #CDE990;
}



table {
	background-color: #ffffff;
	color: #fff;
	text-align: center;
}

.card {
	margin-left: 10px;
}

